@media (max-width: 992px) {
  .main-text__title {
    background: #ffc0cb;
  }

  .nav__link {
    margin-right: 3rem;
  }

  .slider .slide {
    margin: 0 7rem;
  }

  .slider .slide p {
    width: auto;
  }

  .brands__item {
    margin-bottom: 9rem;
  }

  .contact-block {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .slider .slide {
    margin: 0 3rem;
  }

  .slider .slide p {
    width: auto;
  }

  .contacts__header {
    text-align: center;
  }

  .slider .slide {
    margin: 0;
    padding: 0 5rem;
  }

  .slider .slick-arrow {
    top: 5rem;
  }

  .form .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .filters {
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .filters__link {
    margin: 0.5rem 0;
  }

  .form .top-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .input-wrapper {
    margin: 1rem 0;
    text-align: center;
  }

  .input-wrapper:first-child {
    margin-right: 0;
  }

  .footer {
    text-align: center;
  }

  .socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .socials__link {
    margin: 0.5rem 0;
  }
}