@media (max-width: 992px) {
  html {
    font-size: 9px;
  }

  #main .header .nav li {
    margin-right: 4rem;
  }

  #testimonials .slider-wrapper .slider .slide {
    margin: 0 7rem;
  }

  #testimonials .slider-wrapper .slider .slide p {
    width: auto;
  }
}

@media (max-width: 768px) {
  #main .header .nav {
    display: none;
  }

  #testimonials .slider-wrapper .slider .slide {
    margin: 0 3rem;
  }

  #testimonials .slider-wrapper .slider .slide p {
    width: auto;
  }

  #contact-us .header {
    margin-bottom: 3rem;
  }

  #contact-us .content .contacts {
    margin-bottom: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  #contact-us .content .contacts .contact-block {
    text-align: center;
  }

  #contact-us .content .form {
    text-align: center;
  }

  #contact-us .content .form .input-wrapper {
    text-align: left;
  }
}

@media (max-width: 576px) {
  #portfolio {
    background-color: #f5f6f8;
  }

  #portfolio ul.filters {
    margin: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #portfolio ul.filters li {
    margin: 0.5rem 0;
  }

  #testimonials .preview-slider .slide {
    margin: 0 3rem;
  }

  #contact-us .header {
    text-align: center;
  }

  #contact-us .header ul.nav {
    margin: 2rem 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #contact-us .header ul.nav li {
    margin: 0.5rem 0;
  }

  #contact-us .content .form .top-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #footer {
    text-align: center;
  }

  #footer ul.socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    margin-top: 1rem;
  }

  #footer ul.socials li {
    margin: 0.5rem 0;
  }
}